.cta {
  display: flex;
}
.dots {
  display: flex;
  padding: 0 15px 0 0;
  color: #c4c4c4;
}
.cta p {
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
}
img {
  border-radius: 12px;
  object-fit: cover;
}

